*{
    padding:0;
    margin:0;
}


.change{
    display: flex;
    list-style-type: none;
    width: 800px;
    justify-content: space-evenly;
}

.calendar{
    display:flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content: center;    
}


.day{
    border:solid 1px black;
   display: flex;
    height:175px;
    width:175px;
   justify-content: center;
   align-items: center;
}

.date{
    height:175px;
    width:175px;
    border:solid 2px black;
}

.active{
    height: 500px;
    width:500px;
   
}