*{
    padding:0;
    margin:0;
}

.calendar{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.day{
    border:solid 2px black;
    display:flex;
    flex-direction: column;
    height:175px;
    width:175px;
   justify-content: center;
   align-items: center;
}


.date{
    height:175px;
    width:175px;
    border:solid 2px black;
}

.active{
    height: 500px;
    width:500px;
   
}