*{
    padding:0;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:75px;
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(55, 54, 54);
    color:white;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color:rgb(164, 162, 162);
    box-shadow: 5px 5px rgba(7, 7, 7, 0.768);
    width: 100vw;
}

a:link, a:visited{
    color:white;
}

.mainlogo{
    height: 75px;
    width: 110px;
}

.logo{
    height:30px;
    width:30px;
}

.divlogo{
    height: 60px;
    width:60px;
}

.socials{
    display:flex;
    gap:10px;
}

ul{
    display:flex;
    width: 1000px;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

td,th{
    border:solid 2px black;
    border-radius: 30px;  
}


tr{
    height:75px;  
}

td,th{
width:100px;
} 

.schedule{
    display:flex;
    flex-direction: column;
    width: 500px;
    color: black;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
    padding: 30px;
    font-size: 15px;
    border-radius: 100px;
    background-color: #17b4b1;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.458);
}

.playtime{
    background-color:#b64992 ;
}
.gallery{
    display:flex;
    width:90vw;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, #0cdcda, #4b6ada, #b64992);
    /* box-shadow:10px 10px#4b6ada ; */
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat:no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position:relative;
    transition: flex 0.7s ease-in;
}

.panel.active{
    flex: 3;
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
    left: 110px;
    font-size: 50px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color:black;
}

.card-one {
    background-image:url(./public/Assets/menu.jpg);
}

.card-two{
    background-image:url(./public/Assets/woman.jpg);
}

.card-three{
    background-image: url(./public/Assets/girl.jpg);
}

.card-four{
    background-image: url(./public/Assets/image.jpg);
}

.card-five{
    background-image: url(./public/Assets/drink.jpg);
}

.card-six{
    background-image: url(./public/Assets/friday.jpg);
}


.featured{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 950px;
    gap:10px;
}

.game{
    height:200px;
    width:300px;
}

.playtime{
  text-align: center;
  width: 650px;
}

footer{
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.contact{
    display: flex;
    gap:50px;
}

.google-map {
    padding-bottom: 50%;
    margin-bottom: 30px;
    position: relative;

}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
