*{
    padding:0;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: solid 2px black; */
}

.mainlogo{
    height:145px;
    width: 175px;
}

.logo{
    height:40px;
    width:40px;
}

.divlogo{
    height: 60px;
    width:60px;
}

.socials{
    display:flex;
    gap:10px;
}

ul{
    display:flex;
    width: 1000px;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

td,th{
    border:solid 2px black;
    border-radius: 30px;  
}


tr{
    height:100px;  
}

td,th{
width:200px;
} 

.border{
    display:flex;
    flex-direction: column;
    height:400px;
    justify-content: space-around;
    align-items: center;
}

.table{
    display:flex;
    flex-direction: column;
    width: 700px;
    height:350px;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    /* background-color: blue; */
}


.cardcontainer{
    display:flex;
    width:100vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat:no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position:relative;
    transition: flex 0.7s ease-in;
}

.panel.active{
    flex: 3;
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.3s ease-in 0.4s;
    left: 110px;
    font-size: 50px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color:black;
  
}
.card-one {
    background-image:url(./Assets/menu.jpg);
}

.card-two{
    background-image:url(./Assets/woman.jpg);
}

.card-three{
    background-image: url(./Assets/girl.jpg);
}

.card-four{
    background-image: url(./Assets/image.jpg);
}

.card-five{
    background-image: url(./Assets/drink.jpg);
}

.card-six{
    background-image: url(./Assets/friday.jpg);
}

.card-seven{
    background-image: url(./Assets/people.jpg);
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid 2px black; */
}

.contact{
    display: flex;
    gap:50px;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}